* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
    background: #b0c4de;
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo img {
    padding: 5px;
    width: 900px;
    height: 250px;
}

.fixed {
    opacity: 0.9;
    background: #b0c4de;
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 1;
    margin: 0;
    transition: all .25s ease-in-out;
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.header h1 {
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

nav ul {
    height: auto;
}

nav ul li {
    display: inline-block;
    margin: 0 50px;
    padding: 16px 14px;
}

nav li a {
    letter-spacing: 2px;
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding: 10px 14px;
}

li.selected>a,
nav li a:hover {
    border-bottom: 2px solid black;
    transition: all .1s ease-in-out;
}

nav ul li ul.sub-menu {
    background: #b0c4de;
    display: none;
    position: absolute;
    margin-top: 16px;
    padding: 5px 5px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, .05);
    opacity: 0.95;
    z-index: 5;
    border-top: 1px solid #90b2df;
    border-left: 1px solid #90b2df;
    border-right: 1px solid #90b2df;
    transition: .3s linear;
}

nav ul.sub-menu li {
    display: block;
    padding: 5px 5px;
    margin: 5px 0;
}

nav ul.sub-menu li a {
    font-size: 11px;
    padding: 7px 5px;
}

nav li:hover ul.sub-menu {
    display: block;
    transition: all .5s ease-in-out;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.about,
.blog,
.gallery {
    max-width: 100%;
    max-height: auto;
    margin: 30px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery .box {
    position: relative;
    width: 280px;
    height: 280px;
    background: #b0c4de;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.gallery .box .img-item {
    position: relative;
    overflow: hidden;
}

.gallery .box .img-item img {
    max-width: 100%;
    transition: transform 1s;
}

.gallery .box:hover .img-item img {
    transform: scale(1.1);
}

.gallery .box .descripton {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.6);
    transform: scaleY(0);
    transition: transform .5s;
}

.gallery .box:hover .descripton {
    transform: scaleY(1);
}

.gallery .box .descripton .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: rgb(0, 0, 0);
}

.gallery .box .descripton .content h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #0b1b31;
}

.gallery .box .descripton .content p {
    margin: 10px 0 0;
    padding: 0;
}

.blog-container {
    background: #c8dbf3;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    font-weight: 100;
    /*margin: 48px;*/
    width: 23rem;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.blog-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
}

.blog-cover {
    position: relative;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset rgba(0, 0, 0, 0.2);
}

.blog-cover img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.blog-body {
    margin: 0 auto;
    width: 80%;
}

.blog-title h2 a {
    text-decoration: none;
    color: #333;
    font-weight: 100;
}

.blog-text p {
    color: #4d4d4d;
}

.blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.blog-tags li+li {
    margin-left: .5rem;
}

.blog-tags a {
    border: 1px solid #999999;
    border-radius: 3px;
    color: #999999;
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
}

.blog-footer {
    border-top: 1px solid #999999;
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%;
    margin-top: 5px;
}

.blog-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
}

.blog-footer li {
    color: #999999;
    font-size: .75rem;
    height: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    margin-top: .2rem;
    padding-top: 0.3rem;
}

.published-date {
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0 .5rem;
}

.about-page {
    background-size: cover;
    width: 450px;
    background: #13335a40;
    padding: 40px;
    text-align: center;
    margin: auto;
    color: #000000;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
}

.about-page h2 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-top: 5%;
}

.about-page h5 {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-top: 5%;
}

.about-page p {
    text-align: justify;
    margin-top: 5%;
}

.about-page ul {
    margin-top: 15%;
}

.about-page li {
    display: inline-block;
    margin: 6px 20px;
    list-style: none;
}

.about-page li a {
    color: #000000;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.about-page li a:hover {
    color: #b9b9b9;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.no-found {
    max-width: 100%;
    max-height: auto;
    margin: 30px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.no-found h2 {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
}

nav .menu-extension {
    display: block;
    position: absolute;
    right: 20px;
}

.sign-in i {
    color: black;
    font-size: 20px;
}

.sign-in i:hover {
    color: #474747;
}

.search,
.sign-in {
    display: inline-block;
    padding: 12px 0;
}

.search a,
.sign-in a {
    padding: 12px 12px;
    text-decoration: none;
}

.sign-in-page {
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.9) 0 8px 16px 0;
    border-radius: 5px;
    padding: 20px 40px;
    margin-top: 25px;
    background: #85b4f185;
    margin-bottom: 25px;
}

.sign-in-page h2 {
    margin: 0 0 30px 0;
    padding: 10px;
    color: black;
    text-align: center;
}

.input-group {
    width: auto;
    margin-bottom: 30px;
}

input,
button {
    width: 100%;
}

input[type=text],
input[type=password],
input[type=tel] {
    outline: none;
    border: 1px solid black;
    background: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

:placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

button {
    outline: none;
    width: 100%;
    padding: 10px;
    color: rgb(0, 0, 0);
    background: transparent;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    text-transform: uppercase;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

.sign-in-page a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.sign-in-page a:hover {
    text-decoration: underline;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 40rem;
    border-radius: 0.5rem;
}

.modal-header {
    display: block;
    margin-bottom: 25px;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.error-msg {
    color: #ff1f1f;
    margin-top: 10px;
    font-size: 12px;
}

.select-box {
    cursor: pointer;
    position: relative;
    max-width: 20em;
    width: 100%;
}

.select,
.label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
}

.select-box1 {
    border-radius: 10px;
    background: #ececec;
}

.label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}

.open .label::after {
    content: "▲";
}

.label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    border-left: 5px solid #fff;
}

.form-group {
    display: block;
    width: 100%;
    height: 100%;
    margin: 5px 0;
}

.half-size-conteiner {
    width: 49.5%;
    display: inline-block;
}

.btn-group {
    display: inline-block;
}

.btn-group button {
    width: auto;
    height: 40px;
    border: none;
    background-color: #4444ee;
    color: #fff;
}

.full-size-container {
    width: 100%;
    display: inline-block;
}